body {
    scroll-behavior: smooth;
    background-color: #edefeb;
}

.section {
    transform: translateY(40px);
    /* Increase translateY for more noticeable pop-up */
    transition: opacity 1s, transform 1s;
    /* Increase transition duration for a slower effect */
}

.section.active {
    opacity: 1;
    transform: translateY(-40px);
}
