body {
    scroll-behavior: smooth;
    background-color: #edefeb;
}

.section {
    transform: translateY(40px);
    opacity: 0.2;
    /* Increase translateY for more noticeable pop-up */
    transition: opacity 1s, transform 1s;
    /* Increase transition duration for a slower effect */
}

.section.active {
    opacity: 1;
    transform: translateY(0);
}


#command-gt {
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}
